
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100dvh;   /* dynamic viewport height */
  box-sizing: border-box;
}

/* accidental horizontal scroll  */
body { overflow-x: clip;}

#root { max-width: none; padding: 0; }
